{% load static %}
<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <h1 class="logo me-auto me-lg-0"><a href="{% url 'blog:landing' %}">LearnPythonWithMe <img src="{% static 'images/favicon-32x32.png' %}" alt="" class="img-fluid"></a></h1>
     <nav id="navbar" class="navbar order-last order-lg-0">

      <ul>
        <li><a {% if request.resolver_match.view_name == "blog:landing" %} class="active" {% endif %} href="{% url 'blog:landing'  %}">Главная страница</a></li>
        <li><a {% if request.resolver_match.view_name == "lessons:index" %} class="active" {% endif %} href="{% url 'lessons:index' %}">Обучение</a></li>
        <li><a {% if request.resolver_match.view_name == "employment:index" %} class="active" {% endif %} href="{% url 'employment:index' %}">Подготовка к собеседованию</a></li>
        <li><a {% if request.resolver_match.view_name == "news:news" %} class="active" {% endif %} href="{% url 'news:news' %}">Новости IT</a></li>
        <li><a {% if request.resolver_match.view_name == "" %} class="active" {% endif %} href="">О проекте</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'users:profile'  user.username %}">{{ user.username }}</a></li>
        <li><a href="{% url 'users:logout' %}">Выйти</a></li>
        {% else %}
         <li> <a href="{% url 'users:login' %}">Войти</a></li>
         <li> <a  href="{% url 'users:signup' %}">Регистрация</a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

