{% if page_obj.has_other_pages %}
  <nav>
    <ul>
      {% if page_obj.has_previous %}
        <li href="?page=1">Первая</a></li>
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            << </a>
        </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li >
            <span >{{ i }}</span>
          </li>
        {% else %}
          <li >
            <a href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li >
          <a href="?page={{ page_obj.next_page_number }}">
            >>
          </a>
        </li>
        <li >
          <a href="?page={{ page_obj.paginator.num_pages }}">
            Последняя
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}