asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==3.2.16
django-bootstrap5==23.4
django-ckeditor==6.7.1
django-debug-toolbar==4.3.0
django-js-asset==2.2.0
idna==3.6
newsapi-python==0.2.7
python-decouple==3.8
python-dotenv==1.0.1
pytils==0.4.1
pytz==2024.1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.10.0
urllib3==2.2.1
