{% if error_message %}
    <span class="message-card bg-danger px-4 py-4 fw-bold">{{ error_message }}</span>
{% elif is_correct %}
    <span class="message-card bg-success px-4 py-4 fw-bold mb-3">Правильно.</span>
    <span class="message-card bg-success px-4 py-4 fw-bold">{{ question.explanation }}</span>
{% elif is_correct == None %}
    <span class="message-card bg-warning px-4 py-4 fw-bold">Не выбран вариант ответа. Не забудьте ответить позже!</span>
{% else %}
        <div class="message-card bg-danger px-4 py-4 fw-bold mb-3">
            Неверно! Попробуйте еще раз!
        </div>

{% endif %}