<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        {% if lesson.image %}
          <a href="{{ lesson.image.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ lesson.image.url }}">
          </a>
        {% endif %}
        <h3 class="card-title">
          <a href="{{ lesson.get_absolute_url }}" class="card-link">{{ lesson.title }}</a></h3>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {% if not lesson.is_published %}
              <p class="text-danger">Урок снят с публикации </p>
            {% elif not lesson.category.is_published %}
              <p class="text-danger">Выбранная категория снята с публикации </p>
            {% endif %}
            
          </small>
        </h6>
        <a href="{{ lesson.get_absolute_url }}" class="card-link text-muted">Комментарии ({{ lesson.comment_count }})</a>
      </div>
    </div>
  </div>